/* mobile stuff */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: darkgray;
}

header {
    width: 100vw;
    height: 100vh;
}

#rhodiepicture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(pacific\ rhodie\ 1.webp);
    background-size: cover;
    background-position: center center;
}

#rhodietitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#rhodietitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: floralwhite;
    font-size: 2.25em;
    width: calc(100vw - 2em);
}

#rhodiestats {
    background-color: floralwhite;
    padding: 12vw;
}

#rhodiestats p {
    color: darkslategray;
}

#subjectivematters {
    padding: 12vw;
}

#subjectivematters p {
    color: floralwhite;
}

@media screen and (orientation: landscape) {

    header {
        height: 45vh
    }

    #rhodiepicture, #rhodietitle {
        height: 45vh;
    }

    #rhodietitle h1 {
        font-size: 3em;
    }

    #rhodiestats {
        width: 50vw;
        position: absolute;
        padding: 6vw;
        font-size: 1.5em
    }

    #subjectivematters {
        width: 50vw;
        margin-left: 50vw;
        padding: 6vw;
        font-size: 1.5em
    }
}