/*Styles for both Anni-Albers layouts*/

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

p.quote {
    font-size: 1.5rem;
    font-style: italic;
    align-items: center;
}