/*Styles for both Anni-Albers layouts*/

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    line-height: 0.5rem
}
p.quote {
    font-size: 2rem;
    font-style: italic;
    align-items: center;
}