/*Styles for both Anni-Albers layouts*/

main {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#titlerow {
    margin-left: calc(100% * 1 / 6)
}

h1 {
    font-size: 3rem;
    margin-bottom: 0rem;
}

h3 {
    margin-top: 0.25rem;
    margin-bottom: 2rem;
}

p {
    text-align: justify;
}

#row1,
#row2 {
    margin-left: calc(100% * 2 / 6);
    margin-right: calc(100% * 2 / 6);
}

#row3 {
    margin-left: calc(100% * 0 / 6);
    margin-right: calc(100% * 4 / 6);
}

#row4 {
    margin-left: calc(100% * 0 / 6);
    width: calc(100% * 2 / 6);
    position: absolute;
}

#row4 p {
    margin-top: 0;
}

#row5 {
    margin-left: calc(100% * 4 / 6);
    margin-right: calc(100% * 0 / 6)
}

#row6callout {
    margin-right: calc(100% * 0 / 6);
    margin-left: calc(100% * 4 / 6);
}

#row6 {
    margin-left: calc(100% * 4 / 6);
}

#row7 {
    width: calc(100% * 2 / 6);
    margin-left: calc(100% * 3 / 6);
    margin-top: 1em
}

#row8 {
    margin-left: calc(100% * 0 / 6);
    width: calc(100% * 2 / 6)
}

p.callout {
    font-size: 1.5rem;
    font-style: italic;
}

h2 {
    align-items: center;
}
#aboutheauthor {
    margin-left: calc(100% * 2 / 6);
    margin-right: calc(100% * 2 / 6);
}