/*Styles for both Anni-Albers layouts*/

main {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#titlerow {
    margin-left: calc(100% * 0 / 6)
}

h1 {
    font-size: 3rem;
    margin-bottom: 0rem;
}

h3 {
    margin-top: 0.25rem;
    margin-bottom: 2rem;
}

p {
    text-align: justify;
}

#row1,
#row2 {
    margin-left: calc(100% * 2 / 6);
    margin-right: calc(100% * 2 / 6);
}

#row3 {
    margin-left: calc(100% * 1 / 6);
    width: calc(100% * 2 / 6)
}

#row4 {
    margin-left: calc(100% * 1 / 6);
    width: calc(100% * 2 / 6);
    position: absolute;
}

#row4 p {
    margin-top: 0;
}

#row5 {
    margin-left: calc(100% * 4 / 6);
    margin-right: calc(100% * 0 / 6)
}

#row6callout {
    margin-right: calc(100% * 0 / 6);
    margin-left: calc(100% * 4 / 6);
}

#row6 {
    margin-right: 0;
    width: calc(100% * 2 / 6);
    float: right;
}

#row7 {
    width: calc(100% * 2 / 6);
    margin-left: calc(100% * 3 / 6);
    right: calc(100% * 1 / 6);
    float: right;
    position: relative;
}

#row8 {
    margin-left: calc(100% * 0 / 6);
    width: calc(100% * 2 / 6);
}

#row9 {
    margin-left: calc(100% * 1 / 6);
    width: calc(100% * 2 / 6);
}

#row10 {
    margin-left: calc(100% * 3 / 6);
    width: calc(100% * 2 / 6);
}

#row11 {
    margin-left: calc(100% * 3 / 6);
    width: calc(100% * 2 / 6);
}

p.callout {
    font-size: 1.5rem;
    font-style: italic;
}

h2 {
    align-items: center;
}
#aboutheauthor {
    margin-left: calc(100% * 2 / 6);
    margin-right: calc(100% * 2 / 6);
}

/* **************************************** */
/* CSS for Index2 */
/* **************************************** */

/* inherit the baseline main code above and add to it */

#secondLayout main {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: 
        'title title title title title title'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .';
}

#secondLayout #titlerow { grid-area: title; }
#secondLayout #para1 { grid-area: p1; }
#secondLayout #para2 { grid-area: p2; }
#secondLayout #para3 { grid-area: p3; }
#secondLayout #para4 { grid-area: p4; }
#secondLayout #para5 { grid-area: p5; }
#secondLayout #para6 { grid-area: p6; }
#secondLayout #para7 { grid-area: p7; }
#secondLayout #para8 { grid-area: p8; }
#secondLayout #para9 { grid-area: p9; }
#secondLayout #para10 { grid-area: p10; }
#secondLayout #para11 { grid-area: p11; }
#secondLayout #callout1 { grid-area: c1; }
#secondLayout #abouttheauthor2 { grid-area: a2; }
