/*Styles for both Anni-Albers layouts*/

main {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#titlerow {
    margin-left: calc(100% * 1 / 6)
}

h1 {
    font-size: 3rem;
    margin-bottom: 0rem;
}

h3 {
    margin-top: 0.25rem;
    margin-bottom: 2rem;
}

p {
    text-align: justify;
}

#row1,
#row2,
#row5 {
    margin-left: calc(100% * 2 / 6);
    margin-right: calc(100% * 2 / 6);
}

#row3 p,
#row4 p {
    margin-left: calc(100% * 0 / 6);
    margin-right: calc(100% * 4 / 6);
}

#row6 {
    margin-left: calc(100% * 4 / 6);
    margin-right: calc(100% * 0 / 6)
}

p.callout {
    font-size: 1.5rem;
    font-style: italic;
}