/*Styles for both Anni-Albers layouts*/

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0rem;
    margin-left: calc(100% * 1 / 6)
}

h3 {
    margin-top: 0.25rem;
    margin-left: calc(100% * 1 / 6)
}

p {
    width: 30%
    margin-left: calc(100% * 2 / 6)
}
p.callout {
    font-size: 1.5rem;
    font-style: italic;
}