/* Background Attachment Horizontal */

* {
    box-sizing: border-box; /* set box-sizing to make dimensions primary */
}

/* set spacing and font */
html, body {
	padding: 0;
	margin: 0;
	font-family: Garamond, Times, serif;
}

html {
    scroll-snap-type: x mandatory; /* force horizontal snapping to elements */  
}

body {
    overflow-x: auto; /* show horizontal scrollbars */
	overflow-y: hidden; /* hide vertical scrollbars */

}

/* eliminate default padding from content elements */
h1, h2, p {
	padding: 0;
	margin: 0;
}

/* all sections are positioned absolute and have a full-page height of 100vh, plus some background settings */
section {
    position: absolute;
	top: 0;
	left: 0;
	height: 100%;
    width: 100vw;
    background-size: contain; /* images were taller than viewport, so i'm making sure all text is readable */
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; /* learned this lesson the hard way */
	scroll-snap-align: center; /* force scroll snap to center of sections */
    box-shadow: inset 1em 0 1em gray, -1em 0 1em gray;
}

/* position specific sections from the left */
#section2 { left: 100vw; }
#section3 { left: 200vw; }
#section4 { left: 300vw; }
#section5 { left: 400vw; }
#section6 { left: 500vw; }
#section7 { left: 600vw; }
#section8 { left: 700vw; }
#section9 { left: 800vw; }
#section10 { left: 900vw; }
#section11 { left: 1000vw; }
#section12 { left: 1100vw; }
#section13 { left: 1200vw; }
#section14 { left: 1300vw; }
#section15 { left: 1400vw; }
#section16 { left: 1500vw; }
#section17 { left: 1600vw; }
#section18 { left: 1700vw; }
#section19 { left: 1800vw; }
#section20 { left: 1900vw; }
#section21 { left: 2000vw; }
#section22 { left: 2100vw; }
#section23 { left: 2200vw; }
#section24 { left: 2300vw; }
#section25 { left: 2400vw; }
#section26 { left: 2500vw; }
#section27 { left: 2600vw; }
#section28 { left: 2700vw; }
#section29 { left: 2800vw; }
#section30 { left: 2900vw; }
#section31 { left: 3000vw; }
#section32 { left: 3100vw; }
#section33 { left: 3200vw; }
#section34 { left: 3300vw; }
#section35 { left: 3400vw; }

/* i considered adding the text with code but considering my time constraints i'm just using the final print files */
#section1 { background-color: white; background-image: none; z-index: 999;} /* hiding page crease */
#section2 { background-image: url('dedication with text.png'); }
#section3 { background-image: url('001.png'); }
#section4 { background-image: url('002.png'); }
#section5 { background-image: url('003.png'); }
#section6 { background-image: url('004.png'); }
#section7 { background-image: url('005 text.png'); }
#section8 { background-image: url('006.png'); }
#section9 { background-image: url('007 text.png'); }
#section10 { background-image: url('008 text.png'); }
#section11 { background-image: url('009 text.png'); }
#section12 { background-image: url('010.png'); }
#section13 { background-image: url('011 text.png'); }
#section14 { background-image: url('012 text.png'); }
#section15 { background-image: url('013 text.png'); }
#section16 { background-image: url('014 text.png'); }
#section17 { background-image: url('015 text.png'); }
#section18 { background-image: url('016 text.png'); }
#section19 { background-image: url('017 text.png'); }
#section20 { background-image: url('018 text.png'); }
#section21 { background-image: url('019.png'); }
#section22 { background-image: url('020 text.png'); }
#section23 { background-image: url('021.png'); }
#section24 { background-image: url('022 text.png'); }
#section25 { background-image: url('023 text.png'); }
#section26 { background-image: url('024.png'); }
#section27 { background-image: url('025.png'); }
#section28 { background-image: url('026.png'); }
#section29 { background-image: url('027 text.png'); }
#section30 { background-image: url('028.png'); }
#section31 { background-image: url('029.png'); }
#section32 { background-image: url('030.png'); }
#section33 { background-image: url('031 text.png'); }
#section34 { background-image: url('032 text.png'); }
#section35 { background-color: white; background-image: url('back cover cranes.png'); z-index: 999;}


/* custom box-shadows for first slide */
#section1 { box-shadow: -1em 0 1em gray; }

/* content divs within the sections are positioned absolutely to the top and right, almost half the page wide */
section > .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;     /* vertical */
    text-align: center; /* can you tell i really want this thing centered */
    color: #987841;
    font-size: 4rem;
}

.end {
    position: absolute;
    font-size: 2rem;    
    top: 25%;
    left: 50%;
    transform: translateY(-50%, -1.5rem); /* move upward */
    align-items: center;     /* vertical */
    text-align: center;
    color: #987841;
}

/* trying to add an effect in the middle that looks like book pages*/ 
.center-line {
  position: fixed; /* stays in one spot instead of moving with each section */
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 75px;
  height: 100vh;

  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,       /* fully faded left edge */
    rgba(0,0,0,0.15) 10%,   /* left shadow */
    rgba(0,0,0,0.7) 50%,   /* darkest center crease */
    rgba(0,0,0,0.15) 90%,   /* right shadow */
    rgba(0,0,0,0) 100%      /* fully faded right edge */
  );

}

