/* Background Attachment Horizontal */

* {
    box-sizing: border-box; /* set box-sizing to make dimensions primary */
}

/* set spacing and font */
html, body {
	padding: 0;
	margin: 0;
	font-family: Garamond, Times, serif;
}

html {
    scroll-snap-type: x mandatory; /* force horizontal snapping to elements */  
}

body {
    overflow-x: auto; /* show horizontal scrollbars */
	overflow-y: hidden; /* hide vertical scrollbars */

}

/* eliminate default padding from content elements */
h1, h2, p {
	padding: 0;
	margin: 0;
}

/* all sections are positioned absolute and have a full-page height of 100vh, plus some background settings */
section {
    position: absolute;
	top: 0;
	left: 0;
	height: 100%;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
	scroll-snap-align: center; /* force scroll snap to center of sections */
    box-shadow: inset 1em 0 1em black, -1em 0 1em black;
}

/* position specific sections from the left */
#section2 { left: 100vw; }
#section3 { left: 200vw; }
#section4 { left: 300vw; }

/* i considered adding the text with code but considering my time constraints i'm just using the final print files */
#section1 { background-color: white; background-image: none; z-index: 999;}
#section2 { background-image: url('dedication with text.png'); }
#section3 { background-image: url('001.png'); }
#section4 { background-image: url('002.png'); }

/* custom box-shadows for first slide */
#section1 { box-shadow: -1em 0 1em black; }

/* content divs within the sections are positioned absolutely to the top and right, almost half the page wide */
section > .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;     /* vertical */
    text-align: center; /* can you tell i really want this thing centered */
    color: #987841;
    font-size: 4rem;
}

/* trying to add an effect in the middle that looks like book pages*/ 
.center-line {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100px;
  height: 100vh;

  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,       /* fully faded left edge */
    rgba(0,0,0,0.25) 25%,   /* left shadow */
    rgba(0,0,0,0.45) 50%,   /* darkest center crease */
    rgba(0,0,0,0.25) 75%,   /* right shadow */
    rgba(0,0,0,0) 100%      /* fully faded right edge */
  );

}

