/* mobile layout */

body {
    margin: 8vw;
    background-color:bisque;
    font-family: 'Poppins', Helvetica, Arial, Sans-Serif;
    color: #330D0C;
}
 h1 {
    text-align: center;
    align-items: center;
    font-size: clamp(3rem, 12vw, 6rem);
    margin-bottom: 0.2em
 }

 #spacetime {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: clamp(0.5rem, 2vw, 3rem);
    margin-top: 0.5em;
    white-space: nowrap;
 }

 #tagline {
    font-size: 0.75em
 }

img {
    width: 84vw;
}

/* desktop layout */