/* mobile layout */

body {
    margin: 8vw;
    background-color:bisque;
    font-family: 'Poppins', Helvetica, Arial, Sans-Serif;
    color: #330D0C;
}
 h1 {
    text-align: center;
    align-items: center;
    font-size: clamp(2rem, 12vw, 6rem);
    margin-bottom: 0.2em
 }

 #prepinfo {
  display: none;
 }

 #spacetime {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: clamp(0.5rem, 2.5vw, 3rem);
    margin-top: 0.5em;
    white-space: nowrap;
 }

 #tagline {
    font-size: clamp(0.75rem, 3vw, 3rem);
 }

img {
    width: 84vw;
}

.toprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.instructions {
  font-size: clamp(1.5rem, 8vw, 8rem);
}

#button {
    background: #330D0C;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    margin: 0;
    display: inline-block;
    font-size: clamp(0.5rem, 3vw, 3rem);
    text-align: center;
}

.fulllist {
    display: none;
    position: fixed;
    background: white;
    font-size: clamp(0.75rem, 3vw, 3rem);
    inset: 0;
    padding: 2rem;
    border: 1px solid bisque;
    overflow-y: auto;
    z-index: 999;
}

.closebutton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #330D0C;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: clamp(0.5rem, 3vw, 3rem);
  text-align: center;
  cursor: pointer;
  z-index: 1000;
}

.ingredients.open .fulllist {
  display: block;
}

.stepbystep {
  font-size: clamp(0.75rem, 3vw, 3rem);
}

.comments {
  margin-top: 1rem;
  padding: 2rem;
}

.comment-form textarea {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid white;
  resize: vertical;
  font-size: 1rem;
}

#submit {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #330D0C;
  color: white;
  border-radius: 6px;
}

/* desktop layout */

@media screen and (orientation: landscape) {

  body {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7 ) );
    grid-template-rows: repeat(7, auto);
    gap: 20px;
    grid-template-areas: 
        'h h h h . f f'
        'h h h m m f f'
        'h h h m m f f'
        'h h h m m . .'
        'h h h m m . .'
        'm m . m m . .'
        'm m m m m . .'
        'm m m m m . .'
        'm m m m m . .';
        
}

  body header { grid-area: h; }
  body main { grid-area: m; }
  body footer { grid-area: f; }

  body {
    margin: 6vw;
    background-color:bisque;
    font-family: 'Poppins', Helvetica, Arial, Sans-Serif;
    color: #330D0C;
  }
  
  h1 {
    text-align: left;
    align-items: left;
    font-size: 6vw;
  }

  #prepinfo {
    flex-direction: column;
    font-size: 0.5em;
    display: initial;
  }

  #spacetime {
  display: none;
  }

   #tagline {
    font-size: 0.75rem
  }

  .fulllist {
    display: block;
    background-color: transparent !important;
    overflow-y: visible;
    z-index: auto;
  }

  .closebutton {
    display: none;
  }
}