/* mobile layout */

body {
    margin: 8vw;
    background-color:bisque;
    font-family: 'Poppins', Helvetica, Arial, Sans-Serif
}
 h1 {
    width: 76vw;
    font-size: 10vw;
    align-content: center;
 }

 #tagline {
    font-size: 0.75em
 }

img {
    width: 84vw;
}

/* desktop layout */